<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Delivery</title>
</head>
<body>
<div fxLayout="column" id="app-content">
  <div id="app-header" fxFlex="80px" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <img src="/assets/images/babr.png" width="60px" alt="">
    <span id="logo-name">ALAGUERRE</span>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end start" fxFlex="100">
      <button mat-raised-button color="primary" [routerLink]="'catalog'">Catalog</button>
      <button mat-raised-button color="accent" [routerLink]="'basket'">Basket</button>
      <button mat-raised-button color="warn" [routerLink]="'profile'">Profile</button>
      <button mat-raised-button [matMenuTriggerFor]="category">Categories</button>
      <mat-menu #category="matMenu">
          <ng-container *ngFor="let item of categories" >
            <button
              [routerLink]="['catalog/cat', item.id]"
              [matMenuTriggerFor]="subitem" mat-menu-item>
              {{ item.name }}
            </button>
            <mat-menu #subitem="matMenu">
              <button
                [routerLink]="['catalog/subcat', subitem.id]"
                *ngFor="let subitem of item.subcategory" mat-menu-item>
                 {{ subitem.name }}
              </button>
            </mat-menu>
          </ng-container>
        </mat-menu>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div id="app-footer" fxFlex="50px">@Copyright do6rolet@gmail.com | powered by Angular & Django</div>
</div>
</body>
</html>
